/* userChrome.css by milo256 */


/* OPTIONAL */

/* Remove empty space in title bar (great on tiling window managers) */
/*.titlebar-spacer { width: 0px !important; }*/

/* Remove window controls */
/*.titlebar-buttonbox { display: None; }*/


/* TABS */
:root {
    --tab-min-height: 1.3em !important;
    --tabstrip-min-height: 1.0em !important;
    --tab-inline-padding: 6px !important;
    --tabs-navbar-separator-style: none !important;
}
#TabsToolbar {
    box-shadow: inset 0 -2px 3px rgba(0,0,0,0.15);
}
.tab-label-container {
   height: 1.5em !important;
}
.tab-background {
    border-radius: 0 !important;
    border: None !important;
    outline: None !important;
    box-shadow: None;
    border-bottom-width: 0;
    margin-block: 0 !important;
}
.tab-background:is([selected],[multiselected]) {
    background-color: var(--toolbar-bgcolor) !important;
    border: None !important;
}


/* Remove "PLAYING AUDIO" label since it doesn't fit on the smaller tab */
.tab-secondary-label { display: None; }


/* URL BAR */
:root {
    --toolbarbutton-inner-padding: 5px !important;
}
#urlbar-container {
    --urlbar-container-height: 2.0em !important;
}
#urlbar {
    --urlbar-box-bgcolor: transparent !important;
}
#urlbar:not([focused], [open]) > #urlbar-background {
    background-color: transparent !important;
}
toolbarspring { display: None; }


/* BOOKMARKS BAR */
:root {
    --bookmark-block-padding: 0px !important;
}
.bookmark-item {
    margin-top: 0 !important;
    margin-bottom: 3px !important;
}






